textarea#content {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
}

#read-container {
	/* width: 400 px; */
	font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
}